coverage==6.3.2
coveralls==3.3.1
matplotlib==3.5.2
numpy==1.22.4
pytest==7.1.2
pytest-cov==3.0.0
galpy==1.7.2.
mw_plot==0.9.0
astropy==5.0.4
git+https://github.com/JoranAngevaare/Milky_Way_mass_profile
