name: Test package

# Trigger this code when a new release is published
on:
  workflow_dispatch:
  release:
    types: [ created ]
  pull_request:
  push:
    branches:
      - master

jobs:
  update:
    name: "${{ matrix.test }}_py${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: False
      matrix:
        python-version: [ "3.10" ]
        test: [ 'coveralls' ]
    env:
      NUMBA_DISABLE_JIT: 1
    steps:
      # Setup and installation
      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install requirements
        run: |
          pip install -r extra_requirements/requirements-tests.txt
          python setup.py develop
      - name: Test package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coverage run --source=thesis_plots -m pytest -v --log-level=DEBUG --durations 0
          coveralls --service=github
      # Done
      - name: goodbye
        run: echo "tests done, bye bye"
